/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body{
	overflow: hidden;
}



/* 2. Content ================================= */




@media only screen and (min-width: 320px) and (max-width: 480px) {
	
	
	.column {
		float: right;	
	}

	.row{
		height:auto;
		margin-top:20%;
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 55%;
		// height: 100vh;
	}
	
	.stringCurtain{ //min-width 320-480px
		display:none;
	}

	.pineCone{
		width:100%;
	}

	.fir{
		display:none;
	}
	
	.two{
		width:40%;
		// height: 100vh;

		.menu-title{
			display:none;
			text-align: center;
		}

		:hover{
			.menu-title{
				display:block;
			}
		}
	}

	.logo1{
		width:100%;
		display:none;
	}

	.logoMobile{
		width:100%;
		margin-top:10%;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	
	
	.icon{
		
		margin:20% 0% 0% 30%;

		&.man{
			width:30%;
		}

		&.ring{
			width:20%;
		}

		&.snake{
			width:20%;
		}

		&.can{
			width:20%;
		}

		&.splat{
			width:20%;
		}
	}
	
	.pineCone2{
		display:none;
	}
	

}


@media only screen and (min-width: 481px) and (max-width: 767px) {
	.column {
		float: right;
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 60%;
		// height: 100vh;
		overflow: hidden;
	}
	
	.stringCurtain{ //min-width 481-767px
		display:none;
	}

	.pineCone{
		display:none;
	}

	.fir{
		
		width:210%;

		
	}
	
	.two{
		width:40%;
		// height: 100vh;

		.menu-title{
			display:none;
			text-align: center;
			
		}

		:hover{
			.menu-title{
				display:block;
			}
		}
	}

	.logo1{
		width:100%;
		
	}

	.logoMobile{
		width:100%;
		display:none;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	
	
	.icon{
		
		margin:25% 0% 0% 40%;

		&.man{
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}

	.pineCone2{
		display:none;
	}
	
	
	
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.column {
		float: right;
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 70%;
		height: 100vh;
	}
	
	.stringCurtain{
		display:none;
	
	}

	.pineCone{
		display:none;
	}

	.fir{
		width:100%;
		
	}
	
	
	.two{
		width:30%;
		// height: 100vh;

		.menu-title{
			display:none;
			text-align: center;
		}

		:hover{
			.menu-title{
				display:block;
			}
		}
	}

	.logo1{
		width:100%;
	}

	.logoMobile{
		display:none;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	

	.icon{
		
		margin:25% 0% 0% 40%;

		&.man{
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}

	.pineCone2{
		display:none;
	}
	
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	.column {
		position:absolute;
		
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		
		width: 75%;
		height: 100vh;
		transition: transform .4s ease-out;
	}
	
	.stringCurtain{
		width:100%;
		height: 100%;
	
	}
	
	.pineCone{
		display:none;
	}
	
	.fir{
		display:none;
	}

	.two{
		width:25%;
		right:0;
		top:0;
		transition: transform .4s ease-out;
		// height: 100vh;

		.pineCone2{
			width:100%;
			float:left;
			position:absolute;
			right:170px;
			display:none;
		}
		
		.menu-title{
			position: relative;
			left:200px;
			top:-30px;
			width:100%;
			height: 20%;
			transition: transform .4s ease-out;
			display:none;

			font-family: essonnes-display, serif;
			font-weight: 400;
			font-size:1.2em;
			font-style: normal;

		}	
		&:hover{
			
			transform: translateX(-75%);


			& + .column.one{
				transform: translateX(-50%);

			}

			& + .column.two{
				width:100%;

			

			}

			& .menu-title{
				display:block;
				height:50px;
			

			}

			& .pineCone2{
				display:block;
				float:right;
			}
		}
		
	}


	.logo1{
		width:100%;
	}

	.logoMobile{
		display:none;
		
	}

	h2.intro-title{
		font-family: essonnes-display, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.4em;
		text-align: center;
		letter-spacing: .15em;
	}

	h3.intro-title{
		font-family: essonnes-display, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1em;
		text-align: center;
	}
	

	.icon{
		
		margin:25% 0% 0% 43%;

		&.man{
			margin-top:10%;
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}
	
}


@media only screen and (min-width: 1441px) and (max-width: 2000px) {
	.column {
		position:absolute;
		
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		
		width: 75%;
		height: 100vh;
		transition: transform .4s ease-out;
	}
	
	.stringCurtain{
		width:100%;
		
	
	}
	
	.pineCone{
		display:none;
	}
	
	.fir{
		display:none;
	}

	.two{
		width:20%;
		right:0;
		top:0;
		transition: transform .4s ease-out;
		// height: 100vh;

		.pineCone2{
			width:95%;
			float:left;
			position:absolute;
			right:350px;
			display:none;
		}
		
		.menu-title{
			position: relative;
			left:275px;
			top:-30px;
			width:100%;
			height: 20%;
			transition: transform .4s ease-out;
			display:none;

			font-family: essonnes-display, serif;
			font-weight: 400;
			font-size:1.2em;
			font-style: normal;

		}	
		&:hover{
			
			transform: translateX(-75%);


			& + .column.one{
				transform: translateX(-50%);

			}

			& + .column.two{
				width:100%;

			

			}

			& .menu-title{
				display:block;
				// height:50px;
			

			}

			& .pineCone2{
				display:block;
				float:right;
			}
		}
		
	}


	.logo1{
		width:100%;
	}

	.logoMobile{
		display:none;
		
	}

	h2.intro-title{
		font-family: essonnes-display, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.4em;
		text-align: center;
		letter-spacing: .15em;
	}

	h3.intro-title{
		font-family: essonnes-display, serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1em;
		text-align: center;
	}
	

	.icon{
		
		margin:25% 0% 0% 43%;

		&.man{
			margin-top:10%;
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}
	
}

// @media only screen and (min-width: 1441px) {
// 	.column {
// 		float: right;
		
		
// 	}
// 	/* Clear floats after the columns */
// 	.row:after {
// 	content: "";
// 	display: table;
// 	clear: both;
// 	}
	
// 	.one{
		
// 		width: 75%;
// 		height: 100vh;
// 	}
	
// 	.stringCurtain{
// 		width:100%;
// 		height: 100vh;
	
// 	}
	
// 	.pineCone{
// 		display:none;
// 	}
	
// 	.fir{
// 		display:none;
// 	}

// 	.two{
// 		width:25%;
// 		// height: 100vh;
// 	}

// 	.logo1{
// 		width:100%;
// 	}

// 	.logoMobile{
// 		display:none;
		
// 	}

// 	h2.intro-title{
// 		font-size: 1.4em;
// 		text-align: center;
// 	}

// 	h3.intro-title{
// 		font-size: 1em;
// 		text-align: center;
// 	}
	
	
// 	.icon{
		
// 		margin:20% 0% 0% 43%;

// 		&.man{
// 			margin-top:10%;
// 			width:18%;
// 		}

// 		&.ring{
// 			width:10%;
// 		}

// 		&.snake{
// 			width:10%;
// 		}

// 		&.can{
// 			width:10%;
// 		}

// 		&.splat{
// 			width:10%;
// 		}
// 	}
	
// }
