/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

// Essonnes Headline Bold
// font-family: essonnes-headline, serif;
// font-weight: 700;
// font-style: normal;

// Essonnes Headline Italic
// font-family: essonnes-headline, serif;
// font-weight: 400;
// font-style: italic;

// Essonnes Headline Bold Italic
// font-family: essonnes-headline, serif;
// font-weight: 700;
// font-style: italic;

// Essonnes Headline Regular
// font-family: essonnes-headline, serif;
// font-weight: 400;
// font-style: normal;

// Essonnes Display Bold Italic
// font-family: essonnes-display, serif;
// font-weight: 700;
// font-style: italic;

// Essonnes Display Italic
// font-family: essonnes-display, serif;
// font-weight: 400;
// font-style: italic;

// Essonnes Display Bold
// font-family: essonnes-display, serif;
// font-weight: 700;
// font-style: normal;

// Essonnes Display Regular
// font-family: essonnes-display, serif;
// font-weight: 400;
// font-style: normal;

// Essonnes Text Bold
// font-family: essonnes-text, serif;
// font-weight: 700;
// font-style: normal;

// Essonnes Text Bold Italic
// font-family: essonnes-text, serif;
// font-weight: 700;
// font-style: italic;

// Essonnes Text Italic
// font-family: essonnes-text, serif;
// font-weight: 400;
// font-style: italic;

// Essonnes Text Regular
// font-family: essonnes-text, serif;
// font-weight: 400;
// font-style: normal;



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body{

	font-family: essonnes-display, serif;
	font-weight: 400;
	font-style: normal;
}





/* 2. Content ================================= */




@media only screen and (min-width: 320px) and (max-width: 480px) {
	
	.article-header{
		
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 1em;
		position:relative;
		bottom:-100px;
		left:0px;
		
		h2{
			margin-top:30px;
		}
	}
	
	.article-title{
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 2.5em;
		position:relative;
		bottom:-200px;
		left:0px;

		&.at2{
			position:relative; 
			left:30px;
		}

	}


	.column {
		float: left;	
	}

	.row{
		height:auto;
		margin-top:20%;
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 55%;
		// height: 100vh;
	}
	
	.stringCurtain{ //min-width 320-480px
		display:none;
	}

	.pineCone{
		width:100%;
	}

	.fir{
		display:none;
	}
	
	.two{
		width:40%;
		// height: 100vh;

		.menu-title{
			display:none;
			text-align: center;
		}

		:hover{

			.menu-title{
				display:block;
			}
		}
	}

	.logo1{
		width:100%;
		display:none;
	}

	.logoMobile{
		width:100%;
		margin-top:10%;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	
	
	.icon{
		
		margin:20% 0% 0% 30%;

		&.man{
			width:30%;
		}

		&.ring{
			width:20%;
		}

		&.snake{
			width:20%;
		}

		&.can{
			width:20%;
		}

		&.splat{
			width:20%;
		}
	}
	
	.column-three{
		width:100%;

		img.fir2{
			width:100%;
		}
	}
	.column-four{
		width:100%;
		padding:20px;
		float:right;
		
		
	}

	.column-five{
		width:100%;
		padding:20px;
		
	}

	.column-six{
		width:100%;
		float:right;

		img.branches{
			width:100%;
		}
	}

	.column-seven{
		width:100%;

		img.tallGrass{
			width:100%;
			
		}
		
	}

	.column-eight{
		width:100%;
		padding:20px;
		float:right;
	}

	.ferry-commuting{
		font-size: 1.3em;
		line-height: 2em;
		
	}

}


@media only screen and (min-width: 481px) and (max-width: 767px) {
	
	.article-header{
		
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 1em;
		position:relative;
		bottom:-100px;
		left:40px;
		
		h2{
			margin-top:30px;
		}
	}
	
	.article-title{
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 2.5em;
		position:relative;
		bottom:-200px;
		left:40px;

		&.at2{
			position:relative; 
			left:140px;
		}

	}


	.column {
		float: left;
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 70%;
		// height: 100vh;
	}
	
	.stringCurtain{ //min-width 481-767px
		display:none;
	}

	.pineCone{
		display:none;
	}

	.fir{
		
		width:100%;
		
	}
	
	.two{
		width:30%;
		// height: 100vh;

		.menu-title{
			text-align: center;
			display:none;
		}

		:hover{
			.menu-title{
				display:block;
			}
		}
	}

	.logo1{
		width:100%;
		
	}

	.logoMobile{
		width:100%;
		display:none;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	
	
	.icon{
		
		margin:25% 0% 0% 40%;

		&.man{
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}
	
	.column-three{
		width:40%;

		img.fir2{
			width:150%;
			position: absolute;
			left:-500px;
		}
	}
	.column-four{
		width:60%;
		float:right;
		padding:10px;

		
		
	}

	.column-five{
		width:60%;
		padding:10px;

		
	}

	.column-six{
		width:40%;
		float:right;
		overflow: hidden;

		img.branches{
			width:200%;
		}
	}

	.column-seven{
		width:40%;

		img.tallGrass{
			position:absolute;
			top:4000px;
			right:300px;
			width: 50%;
			
		}
		
	}

	.column-eight{
		width:60%;
		float:right;
		padding:20px;
	}

	.ferry-commuting{
		font-size: 1.3em;
		line-height: 2em;
		padding:10px;
		
	}
	
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	.article-header{
		
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 1.2em;
		position:relative;
		bottom:-600px;
		left:40px;
		
		h2{
			margin-top:30px;
		}
	}
	
	.article-title{
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 5em;
		position:relative;
		bottom:-640px;
		left:40px;

		&.at2{
			position:relative; 
			left:200px;
		}

	}


	
	
	.column {
		float: left;
		margin-top:50px;
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 70%;
		height: 100vh;
	}
	
	.stringCurtain{
		display:none;
	
	}

	.pineCone{
		display:none;
	}

	.fir{
		width:100%;
		
	}
	
	.two{
		width:25%;
		right:0;
		top:0;
		transition: transform .4s ease-out;
		// height: 100vh;

		.pineCone2{
			width:100%;
			float:left;
			position:absolute;
			right:170px;
			display:none;
		}
		
		.menu-title{
			position: relative;
			left:200px;
			top:-30px;
			width:100%;
			height: 20%;
			transition: transform .4s ease-out;
			display:none;

			font-family: essonnes-display, serif;
			font-weight: 400;
			font-size:1.2em;
			font-style: normal;

		}	
		&:hover{
			
			transform: translateX(-75%);


			& + .column.one{
				transform: translateX(-50%);

			}


			& .menu-title{
				display:block;
				// height:50px;
			

			}

			& .pineCone2{
				display:block;
				float:right;
			}
		}
		
	}

	.logo1{
		width:100%;
	}

	.logoMobile{
		display:none;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	

	.icon{
		
		margin:25% 0% 0% 40%;

		&.man{
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}

	.column-three{
		width:20%;

		img.fir2{
			width:250%;
		}
	}
	.column-four{
		width:50%;
		float:right;
		padding:20px;
		
		
	}

	.column-five{
		width:60%;
		padding:20px;
		p.paragrah-five{
		   width:100%;
		  
		 }
		
	}

	.column-six{
		width:40%;
		float:right;
		overflow: hidden;

		img.branches{
			width:130%;
		}
	}

	.column-seven{
		width:50%;
		

		img.tallGrass{
			width:100%;
			
		}
		
	}

	.column-eight{
		width:50%;
		float:right;
		padding:20px;
	}

	.ferry-commuting{
		font-size: 1.3em;
		line-height: 2em;
			}
	
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	
	.article-header{
		
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 1.2em;
		position:relative;
		bottom:-600px;
		left:40px;
		
		h2{
			margin-top:30px;
		}
	}
	
	.article-title{
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 5em;
		position:relative;
		bottom:-640px;
		left:40px;

		&.at2{
			position:relative; 
			left:200px;
		}

	}


	
	
	.column {
		float: left;
		margin-top:50px;
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 70%;
		height: 100vh;
	}
	
	.stringCurtain{
		display:none;
	
	}

	.pineCone{
		display:none;
	}

	.fir{
		width:100%;
		
	}
	
	.two{
		width:25%;
		right:0;
		top:0;
		transition: transform .4s ease-out;
		// height: 100vh;

		.pineCone2{
			width:100%;
			float:left;
			position:absolute;
			right:170px;
			display:none;
		}
		
		.menu-title{
			position: relative;
			left:200px;
			top:-30px;
			width:100%;
			height: 20%;
			transition: transform .4s ease-out;
			display:none;

			font-family: essonnes-display, serif;
			font-weight: 400;
			font-size:1.2em;
			font-style: normal;

		}	
		&:hover{
			
			transform: translateX(-75%);


			& + .column.one{
				transform: translateX(-50%);

			}


			& .menu-title{
				display:block;
				// height:50px;
			

			}

			& .pineCone2{
				display:block;
				float:right;
			}
		}
		
	}

	.logo1{
		width:100%;
	}

	.logoMobile{
		display:none;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	

	.icon{
		
		margin:25% 0% 0% 40%;

		&.man{
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}

	.column-three{
		width:20%;

		img.fir2{
			width:250%;
		}
	}
	.column-four{
		width:50%;
		float:right;
		
		
	}

	.column-five{
		width:60%;
		 
		p.paragrah-five{
		   width:100%;
		 }
		
	}

	.column-six{
		width:40%;
		float:right;
		overflow: hidden;

		img.branches{
			width:130%;
		}
	}

	.column-seven{
		width:50%;

		img.tallGrass{
			width:100%;
			
		}
		
	}

	.column-eight{
		width:50%;
		float:right;
		padding:30px;
	}

	.ferry-commuting{
		font-size: 1.3em;
		line-height: 2em;
			}
}

@media only screen and (min-width: 1441px) {

	.article-header{
		
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 1.2em;
		position:relative;
		bottom:-600px;
		left:40px;
		
		h2{
			margin-top:30px;
		}
	}
	
	.article-title{
		font-family: essonnes-headline, serif;
		font-weight: 400;
		font-style: italic;
		font-size: 5em;
		position:relative;
		bottom:-640px;
		left:40px;

		&.at2{
			position:relative; 
			left:200px;
		}

	}


	
	
	.column {
		float: left;
		margin-top:50px;
		
		
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	
	.one{
		float: left;
		width: 70%;
		height: 100vh;
	}
	
	.stringCurtain{
		display:none;
	
	}

	.pineCone{
		display:none;
	}

	.fir{
		width:100%;
		
	}
	
	.two{
		width:25%;
		right:0;
		top:0;
		transition: transform .4s ease-out;
		// height: 100vh;

		.pineCone2{
			width:100%;
			float:left;
			position:absolute;
			right:170px;
			display:none;
		}
		
		.menu-title{
			position: relative;
			left:250px;
			top:-30px;
			width:100%;
			height: 20%;
			transition: transform .4s ease-out;
			display:none;

			font-family: essonnes-display, serif;
			font-weight: 400;
			font-size:1.2em;
			font-style: normal;

		}	
		&:hover{
			
			transform: translateX(-75%);


			& + .column.one{
				transform: translateX(-50%);

			}


			& .menu-title{
				display:block;
				// height:50px;
			

			}

			& .pineCone2{
				display:block;
				float:right;
			}
		}
		
	}

	.logo1{
		width:100%;
	}

	.logoMobile{
		display:none;
		
	}

	h2.intro-title{
		font-size: 1.2em;
		text-align: center;
	}

	h3.intro-title{
		font-size: 1em;
		text-align: center;
	}
	

	.icon{
		
		margin:25% 0% 0% 40%;

		&.man{
			width:20%;
		}

		&.ring{
			width:10%;
		}

		&.snake{
			width:10%;
		}

		&.can{
			width:10%;
		}

		&.splat{
			width:10%;
		}
	}

	.column-three{
		width:60%;

		img.fir2{
			width:80%;
		}
	}
	.column-four{
		width:40%;
		float:right;
		padding:30px;
		
		
	}

	.column-five{
		width:50%;
		padding:30px;
		p.paragrah-five{
		   width:100%;
		 
		 }
		
	}

	.column-six{
		width:40%;
		float:right;
		overflow: hidden;

		img.branches{
			width:100%;
		}
	}

	.column-seven{
		width:50%;
		
		overflow:hidden;

		img.tallGrass{
			width:45%;
			position:absolute;
			top:2900px;
			
		}
		
	}

	.column-eight{
		width:45%;
		float:right;
		padding:30px;
	}

	.ferry-commuting{
		font-size: 1.3em;
		line-height: 2em;
			}
}
